.guiVersion2 .button {
    background-color: #45989e ! important;
    padding: 12px 30px;
    font-weight: 400;
    letter-spacing: 1px;
    box-shadow: none;
}

.guiVersion2 .button:hover {
    background-color: #45989e !important;
}

/* test background */
.guiVersion2 body {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-color: #d9e3ef !important; */
    background-image: url(../img/background_gray.jpg);
}

