.guiVersion2 body {
  background-color: #f4f4f4;
}

.guiVersion2 .button  {
  background-color: black !important;
  cursor: pointer;
  font-weight: 700 !important;
}

.guiVersion2 .button:hover {
  background-color: black !important;
}

.guiVersion2 .outerFrame {
  margin: 0;
  padding-bottom: 30px;
}

.loginInner .logoDiv  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 30px 10px;
  border-bottom: 2px solid #f4f4f4;
  background-color: #ffffff;
  z-index: 9999;
}

.outerFrame::before {
  content: "";
  display: block;
  width: 100vw;
  height: 70px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 50px;
  background-color: #fff;
  background-image: url("https://connectid.no/resources/partner/4/no.dagbladet/img/logos.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto calc(100% - 38px);
}

.guiVersion2 #loginForm {
  margin: 0 auto 0 auto;
}

.logoDiv img.logo {
  padding: 0 9px;
  min-width: 226px;
}

#loginForm {
  padding-top: 100px;

}

.loginFrame {
  border: none;
  box-shadow: none;
}

.guiVersion2 .headingColumn {
  width: 100%;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
}

.guiVersion2 .heading {
  font-weight: 700;
  font-size: 1.2em;
}

.guiVersion2 .heading {
  border-width: 3px 0;
  border-top: 0;
  border-color: #f4f4f4;
}

.loginMain {
  padding: 0;
}

.footerContent {
  display: none;
}

@media only screen and (max-width: 479px) {

  .column {
  }

  .guiVersion2 .headingColumn {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  HTML, BODY, #loginForm, .outerFrame {
    background-color: #f4f4f4;
  }


  .outerFrame::before {
    content: "";
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
    left: 2%;
    transform: translateX(-2%);
    margin-bottom: 50px;
    margin-top: -36px;
    background-color: #fff;
    background-image: url("https://connectid.no/resources/partner/4/no.dagbladet/img/logos.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto calc(100% - 28px);
  }

  .loginInner .logoDiv  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
    padding: 14px 4px;
    border-bottom: 2px solid #f4f4f4;
    background-color: #ffffff;
    z-index: 9999;
  }

  .logoDiv img.logo {
    padding: 6px 73px;
    min-width: 226px;
  }

  .guiVersion2 .heading {
    font-weight: 700;
    font-size: 1.2em;
  }

}